*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    background: linear-gradient(#3e9f39, #75d490 50%, #3e9f39, #75d490);
}


header {
    place-content: center start;
    display: grid;
    height: 100px;
    color: #FFFFFF;
    font-weight: 100;
    margin: 10px;
    font-size: 20px;
    gap: 35px;
    grid-template-columns: 10px 90px 90px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    place-self: center center;
    color: #ffffff;
}


.background-logo {
    position: absolute;
    width: 50vh;
    height: auto;
    max-height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.content-text {
    position:absolute;
    color: #ffffff;
    font-size: 2.3rem;
    width: 240px;
    transform: translate(610%,600%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.content-image {
    height: 70vh;
    width: auto;
    place-self: center center;
    display: grid;
    top: 120px;
    transform: translate(0%,5%);
}

